/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('Img/1-51dd0dc8.png'); /* Caminho da imagem */
    background-size: cover; /* Ajusta para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Container geral da página */
.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    position: relative;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e5e3e3;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
}

/* Logotipo */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 40px;
    height: auto;
    margin-right: 10px;
}

.logo1 {
    max-width: 200px;
    height: auto;
    margin-right: 10px;
}

.app-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

/* Botões de Login e Registro */
.auth-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 15px;
    background-color: #3AD2CE;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #7bcfcc;
}

/* Conteúdo principal */
.main-content {
    margin-top: 80px; /* Espaço para o cabeçalho */
    text-align: center;
}

.main-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}
